<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <style>
        h3 {
            color: black;
            background-color: cyan;
        }
    </style>
</head>

<body>
    <%- include('common/header'); %>
        <h3>This is login page</h3>
</body>

</html>